# Số lượng luồng profile chạy đồng thời
MULTI_TAPPERS=10
# Số lượng trình duyệt chrome được phép chạy cùng lúc
MAX_CHROME_INSTANCES=10
KILL_ALL_CHROME=False

# Bật truy cập game qua ref link (True là bật, False là truy cập qua CHANEL_REF_LINK)
ENABLE_REF_LINK=False
REF_LINK="https://t.me/claytoncoinbot/game?startapp=5440629352"

BOT_NAME="claytoncoinbot"
CHANNEL_REF_LINK="https://web.telegram.org/k/#@lhsdevlink"
GPM_API_URL="http://127.0.0.1:19995"

# Kích thước cửa sổ nhỏ (False là không nhỏ, True là nhỏ)
WINDOW_SIZE_SMALL=False
# Số dòng hiển thị trong cửa sổ nhỏ
WINDOW_SIZE_SMALL_ROWS=2

# Kiểm tra SSL của proxy (True là kiểm tra, False là không kiểm tra)
PROXY_CHECK_SSL=True

# Sử dụng proxy từ file (True là sử dụng, False là không sử dụng)
USE_PROXY_FROM_FILE=True
# Thời gian chờ iframe xuất hiện (giây)
TIME_WAIT_IFRAME_APPEAR=60

# Thời gian chạy lại sau khi hoàn thành (giây)
DELAY_AFTER_DONE_TAPPER=[14400,14405]

# API URL
API_URL="https://tonclayton.fun/api/cc82M530-6a7d-4deb-a16b-6a335a67ffa7"

# Tự động hoàn thành nhiệm vụ (True là tự động, False là không tự động)
AUTO_TASK=True
# Các game sẽ chơi (1024, stack)
GAMES_TO_PLAY=["1024", "stack"]
